.contenedor-corazon {
    position: relative;
    height: 160px;
    width: 160px;
    margin: auto;
}

.label-corazon {
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    height: 25%;
    width: 25%;
    top: 37%;
    left: 37%;
}
#corazon{
    display: none;
}